*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul > li {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  width: 100%;
  height: 50vh;
  background-color: black;

  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 5fr max-content;

  overflow: hidden;
}

.button-left,
.button-right {
  height: 100%;
  width: 100%;
  background: #00000055;
  color: white;
  z-index: 10;

  border: none;
  cursor: pointer;
}

.button-left {
  grid-area: 1 / 1 / 2 / 2;
}

.button-right {
  grid-area: 1 / 3 / 2 / 4;
}

.image-slider {
  grid-area: 1 / 1 / 2 / 4;
  position: relative;
  background-color: #000000;
}

.image-slider img {
  object-fit: cover;
  image-rendering: optimizeQuality;
}

.navigation-dots {
  grid-area: 2 / 1 / 3 / -1;
  background-color: #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-button {
  min-width: 1.1rem;
  min-height: 1.1rem;
  margin: 0.2rem;
  padding: 0;

  background-color: #555;
  border: 5px #999 solid;
  border-radius: 1rem;

  cursor: pointer;
}

.navigation-button:hover {
  background-color: #111;
}

.navigation-button[data-active="true"] {
  background-color: #111;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 100;
}

.image[data-active="true"] {
  z-index: 9;
}

.invisible-image {
  z-index: -1;
}

/* ANIMATIONS */
.right-to-middle {
  animation-name: right-to-middle;
  animation-duration: 0.3s;
}

.middle-to-left {
  animation-name: middle-to-left;
  animation-duration: 0.3s;
  z-index: 1 !important;
}

.left-to-middle {
  animation-name: left-to-middle;
  animation-duration: 0.3s;
}

.middle-to-right {
  animation-name: middle-to-right;
  animation-duration: 0.3s;
  z-index: 1 !important;
}

@keyframes right-to-middle {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 100;
  }
}

@keyframes middle-to-left {
  from {
    left: 0;
    opacity: 100;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}

@keyframes left-to-middle {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 100;
  }
}

@keyframes middle-to-right {
  from {
    right: 0;
    opacity: 100;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}
