.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.array {
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.array > p {
  padding: 0.5rem 1rem;
  color: white;
  background-color: black;
}

.array > div {
  display: flex;
}

.array li {
  margin-right: 0.5rem;
}

.array > div > button {
  display: none;
}

.array > div:hover > button {
  display: flex;
}

.array > div > button {
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  border: none;
  font-weight: 700;
  opacity: 0.5;
  padding: 0 0.2rem;
}
